<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cantina.cleo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Cantina da Cleo</name>
    <description>
        Aplicativo oficial da Cantina da Cleo.
    </description>
    <author email="contato@cantinacleo.com.br" href="http://3.81.0.138:3000">
        Walcy Dev Java
    </author>
    
    <content src="http://3.81.0.138:3000" />
    
    <icon src="res/icon.png" />

    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="whatsapp:*" />

    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        
        <allow-intent href="market:*" />
    </platform>

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
